@charset "UTF8"
<style>
body {background-color: rgb(233, 122, 224);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1{
    color: rgb(139, 0, 30);
    background-color: rgb(255, 127, 249);
}

h2{
    color: darkred;
}

p{
    text-align: justify;
}
</style>